<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>soundlens</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>

	<div class="container">
		<div class="row">
			<h1>soundlens</h1>
		</div>
	</div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @RenderSection("scripts", false)

	<div class="container">
		<div class="row">
			<hr>
			<div class="col-lg-12">
				<div class="col-md-8">
					@Html.ActionLink("Home", "Index", "Home", null, null) | @Html.ActionLink("About Us", "About", "Home", null, null)
				</div>
				<div class="col-md-4">
					<p class="muted pull-right">Made for MHacks 8</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
