
<div class="container">
	<div class="row">

		@using (Html.BeginForm())
		{
			<label for="genreSelect">Choose a genre:</label>
			<select id="genreSelect" name="genreSelect">
				@*<option value="">select a genre</option>*@
				<option value="0">Pop</option>
				<option value="1">Country</option>
				<option value="2">Classical</option>
			</select>
			<br /> <br />
			<label for="file">Upload Image:</label>
			<input type="text" name="file" id="file" style="width: 100%;" onchange="previewFile()" />
			<img src="" height="200" alt="Image preview..." />

			
			<input type="submit" value="Upload" class="submit" />
		}
	</div>
</div>

<script>
   function previewFile(){
       var preview = document.querySelector('img'); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           preview.src = reader.result;
       }

       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
       } else {
           preview.src = "";
       }
  }

  previewFile();  //calls the function named previewFile()
</script>